{% extends 'layout.html' %}

{% block title %} - {{ page_title }} {% endblock %}

{% load staticfiles %}
{% block content %}

	<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnbg1JUHpahrGknIdpp3vgH54gKZVl25Q">
    </script>
    <script type="text/javascript">
      function initialize() {
    	var latlng = new google.maps.LatLng(43.4735031,-80.434979117);
        var mapOptions = {
          center: latlng,
          zoom: 14
        };
        
        
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
        
        var marker = new google.maps.Marker({
			position: latlng,
            map: map,
			title:"1601 Victoria St. N"});
        //marker.setMap(map);	
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    
    
		<hr class="featurette-divider">

		<div class="row">
			<div class="col-xs-6 col-md-6">
				<div id="map-canvas" ></div>
				<hr class="featurette-divider">
				<img src="{% static "images/carproof.png" %}" alt="Car Proof Certified">
				<hr class="featurette-divider">
				<img src="{% static "images/warranty-dealer.jpg" %}" alt="Car Proof Certified">
			</div>
			
			<div class="col-xs-6 col-md-6  split-left">
		
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Please leave us a message</h3>
					</div>
					<div class="panel-body">
						<h1>Thank you {{message.name}}, we have received your message</h1>
					    <p>title: {{message.title}}</p>
					    <p>content: {{message.content}}</p>
					    
					    <a href="/message/add/"><h2>go back contact page </h2></a>
					</div>
				</div>
			</div>
		</div>

{% endblock %}