{% extends 'site-layout.html' %}

{% block title %} - {{ page_title }} {% endblock %}

{% load staticfiles %}
{% block content %}
		<hr class="featurette-divider">

		<div class="row">
			<div class="col-xs-6 col-md-6">
				<div id="map-canvas" ></div>
			</div>
			
			<div class="col-xs-6 col-md-6  split-left">
		
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Please leave us a message</h3>
					</div>
					<div class="panel-body">
						<h1>Thank you {{member.chinese_name}}, we have received your message</h1>
					    <p> email: {{member.email}}</p>
					    <p> member: {{member.phone}}</p>
					    
					    <a href="/member/register/"><h2>go back register page </h2></a>
					</div>
				</div>
			</div>
		</div>

{% endblock %}